footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #fff;
    background: #5E403A;
    padding: 20px;
}



footer ul.footer li.footer:first-child{
    margin-bottom: 10px;
}

footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: auto;
}

footer ul#contato{
    flex-direction: row;
    align-items: center;
}

footer ul#contato li.footer{
    margin-bottom: 0;
    margin-right: 10px;
}